# .gitignore
# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/

# Environment variables
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# IDE/Editor specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Docker volumes
pgdata/